
header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem;
}

h1 {
  flex: 1; 
}

main {
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

#postList {
  list-style: none;
  padding: 0; 
}
